### Python Objects and Data Structures

# Note:
#### immutable-can't be changed or edited

#### mutable- can be changed or edited

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
2**2

4

In [5]:
## mod-operator---->multiplier
7/4

1.75

In [6]:
#(%)--maat-operator -------->remainder

7 % 4

3

In [7]:
#(**)--power-operator------>power

2**3

8

In [8]:
# BODMAS

(2 + 10) * (10 + 3)

156

### Variable Assignment

In [9]:
a = 5

In [10]:
a

5

In [11]:
a=10

In [12]:
a

10

In [13]:
a+a

20

In [14]:
type(a)

int

## String

In [15]:
## String:---->ordered sequences---->we can use indexing and slicing 
# indexing---->[index number]
# slicing---->[start:stop:step]

In [16]:
'hello'

'hello'

In [17]:
"world"

'world'

In [18]:
'this is also a string'

'this is also a string'

In [19]:
"i'm going to have fun"

"i'm going to have fun"

In [20]:
print("i'm going to have fun")

i'm going to have fun

In [21]:
print('hello \nworld')

hello
world

In [22]:
len('hello')

5

In [23]:
len('hello king')

10

In [24]:
#### String Indexing and Slicing

my_string = 'Hello World'

In [25]:
my_string

'Hello World'

In [26]:
# INdexing

my_string[0]

'H'

In [27]:
my_string[8]

'r'

In [28]:
# slicing

mystring='abcdefghijklmnop'

In [29]:
mystring[2:10:2]

'cegi'

In [30]:
## reverse---->[::-1]

mystring[::-1]

'ponmlkjihgfedcba'

In [31]:
## split()

mystring='my name is srijan'

In [32]:
#creating string 

mystring.split()

['my', 'name', 'is', 'srijan']

In [33]:
mystring.split('i')

['my name ', 's sr', 'jan']

In [34]:
## Format method

print('This is a String {}'.format('INSERTED'))

This is a String INSERTED

In [35]:
print('the {} {} {}'.format('fox', 'brown', 'quick'))

the fox brown quick

In [36]:
print('the {2} {1} {0}'.format('fox', 'brown', 'quick'))

the quick brown fox

In [37]:
print('the {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

the quick brown fox

In [38]:
## Float formting Follows"{values:width.precision f}"

In [39]:
result = 100/777

In [40]:
result

0.1287001287001287

In [41]:
print("result was {}".format(result))

result was 0.1287001287001287

In [42]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

### LIST

In [43]:
### LIST
# are ordered sequencs
# [-,-,-]------>supports indexing and slicing------>mutable
# can be nested---->(strings can't be nested)

In [44]:
my_list = [1,2,3]

In [45]:
mylist = ["string", 100, 200]

In [46]:
len(mylist)

3

In [47]:
len(my_list)

3

In [48]:
# inddexing and slicing

mylist

['string', 100, 200]

In [49]:
mylist[1]

100

In [50]:
mylist[1:]

[100, 200]

In [51]:
my__list = [400,500,'string2']

In [52]:
new_list = mylist + my__list

In [53]:
new_list

['string', 100, 200, 400, 500, 'string2']

In [54]:
new_list[1] = 'string1'

In [55]:
new_list

['string', 'string1', 200, 400, 500, 'string2']

In [56]:
# append allows u to add one item at the end of the 
# pop-----> it will pop out a last element
# sort----> will sort the list in accending order

In [57]:
my_list.sort()

In [58]:
my_list

[1, 2, 3]

### Dictionary

In [59]:
### Dictionary
# unordered mapping for storing objects.
# key:value
# {'key1':'value1', 'key2':'value2'}

In [60]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [61]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [62]:
my_dict['key1']

'value1'

In [63]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [64]:
prices_lookup['apple']

2.99

In [65]:
d = {'k1':12, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [66]:
d

{'k1': 12, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}}

In [67]:
d['k2']

[0, 1, 2]

In [68]:
d['k3']

{'insidekey': 100}

In [69]:
d['k3']['insidekey']

100

In [70]:
d = {'key1':['a','b','c']}

In [71]:
d

{'key1': ['a', 'b', 'c']}

In [72]:
my_list = d['key1']

In [73]:
my_list[2]

'c'

In [74]:
## in a single line
d['key1'][2].upper()

'C'

### Tuples

In [75]:
### Tuples----> very similar to lists
## >one key difference--is ummutable
## ()
## slicing and indexing and count--->inbuilt method

In [76]:
t = (1,2,3)

In [77]:
my_list = [1,2,3]

In [78]:
type(t)

tuple

In [79]:
type(my_list)

list

In [80]:
len(t)

3

In [81]:
t = ('one', 2, 'three')

In [82]:
t

('one', 2, 'three')

In [83]:
## count

t = ('a', 'a', 'b')

In [84]:
t.count('a')

2

In [85]:
t.index('a')  #---->it gives the first index of a number or string in tuple

0

In [86]:
t.index('b')

2

### SETS IN PYTHON

In [87]:
### Sets
## sets are unordered collection of unique elements
## objects can't be repeated--->(1,1,2,3,4)---is wrong as is repeated
##

In [88]:
myset = set()

In [89]:
myset

set()

In [90]:
myset.add(1)

In [91]:
myset

{1}

In [92]:
myset.add(2)

In [93]:
myset

{1, 2}

In [94]:
mylist = [1,1,1,1,1,2,2,2,3,3,3,3]

In [95]:
set(mylist)

{1, 2, 3}

In [96]:
set([1,2,3,4,4,4,4,44,5])

{1, 2, 3, 4, 5, 44}

### Boolean

In [97]:
### Boolean
## true and false statements
## deal with control flow and logic

In [98]:
True

True

In [99]:
False

False

In [100]:
type(True)

bool

In [101]:
1 > 2

False

In [102]:
2>1

True

In [103]:
1 == 1

True

In [104]:
b = None

In [105]:
b

### I/O with basic files in python

In [106]:
## how to create the text file in the computer

# %%writefile myfile.text
# Hello this is a text file
#this is the second line
#this is the third line

In [107]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [108]:
myfile = open('myfile.txt')

In [109]:
pwd

'C:\\Users\\HP'

In [110]:
myfile = open('myfile.txt')

In [111]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [112]:
myfile.seek(0)

0

In [113]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [114]:
myfile.seek(0)

0

In [115]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [116]:
### File Location

# provide the full file path if need to load file from anywhere)
#---> myfile = open("c\\user\\HP\\filename.txt")

In [117]:
## to close file .close()

In [118]:
with open('myfile.txt') as my_new:
    contents = my_new.read()

In [119]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [120]:
## wreight file

## with open('myfile.txt',mode='w') as myfile:
##     contents = myfile.read()

### Comparison Operator

In [121]:
2==2

True

In [122]:
2==1

False

In [123]:
'hello'=='bye'

False

In [124]:
'Bye'=='bye'

False

In [125]:
## Logical Operators
# and
# or
# not

In [126]:
1<2 and 2>3   #-----> needs both the conditions to be true

False

In [127]:
1<2 or 2>3   #------>needs any one condition to be true

True

In [128]:
not 1==1

False

### Python Statements

In [129]:
## If, Elif and Else Statement
# control flow

In [130]:
## syntax of if statement


# if some_condition:
      # execute some code

In [131]:
## syntax of if/else statement


# if some_condition:
      # execute some code
# else:
     # do something else

In [132]:
## syntax of if/else statement


# if some_condition:
      # execute some code
# elif some_other_condition:
     # do something else
# else:
     # do something else

In [133]:
## example

if True:
    print('Its True!')

Its True!

In [134]:
if 3>2:
    print('Its TRUE')

Its TRUE

In [135]:
hungry = True

if hungry:
    print('FEED ME')

FEED ME

In [136]:
hungry = False

if hungry:
    print('FEED ME')
else:
    print('I m not hungry')

I m not hungry

In [137]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
else:
    pront('I do not know much')

Money is cool

In [138]:
name = 'Samy'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('what is your name??')

what is your name??

## For Loops

In [139]:
## for Loop
# iteration-->means--> we can iterate over every element in the object
# we can use for loops to execute a block of code for every iteration

In [140]:
## Syntax of a for loop
# my_iterable = [1,2,3]
# for item_name in my_iterable:
     # print(item_name)
    
    
    #### item_name--->can be any thing(characters only)

In [141]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [142]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [143]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [144]:
# only even number

for num in mylist:
    if num%2 == 0:
        print(num)

2
4
6
8
10

In [145]:
# even number/odd number both
# f---->formatting if

for num in mylist:
    if num%2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [146]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [147]:
## checking the working or itentation

list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)
    
# final result is---->55

1
3
6
10
15
21
28
36
45
55

In [148]:
## in string

mystring = 'Hello World'

for let in mystring:
    print(let)

H
e
l
l
o

W
o
r
l
d

In [149]:
## samething in short

for _ in 'Hello World':
    print(_)

H
e
l
l
o

W
o
r
l
d

In [150]:
## samething in short

for _ in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [151]:
# for tuple

tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [152]:
## Unpacking the tuple

mylist = [(1,2,3), (4,5,6), (7,8,9), (11, 12, 13)]

In [153]:
len(mylist)

4

In [154]:
for (a,b,c) in mylist:
    print(a, b, c)    ##----> Unpacking

1 2 3
4 5 6
7 8 9
11 12 13

In [155]:
for (a,b,c) in mylist:
    print(a)
    print(b)
    print(c)   ##----> Unpacking

1
2
3
4
5
6
7
8
9
11
12
13

In [156]:
## for loop in dictinary

d = {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [157]:
# want only values

for item in d.values():
    print(item)

1
2
3

In [158]:
## for loop in dictinary
## full items 
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [159]:
## Unpacking

for key,value in d.items():
    print(key)

k1
k2
k3

In [160]:
## Unpacking

for key,value in d.items():
    print(value)

1
2
3

In [161]:
## Unpacking

for key,value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

#### While Loops

In [162]:
## will continue to execute a block of code while some condition remains True


## Syntax
# while some_boolean_condition:
    #do something
# else:
   #

In [163]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [164]:
x = 0

while x <= 5:
    print(f'The current value of x is {x}')
    x = x + 1
    # x += 1(#### same as x = x + 1)

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5

In [165]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5 ')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [166]:
## break, continue, pass
#### we can use break, continue, pass statements in our loops to add additional functionality for various cases. 
#### The three statements are defined by:-

    
    #### Break: Breaks out of the current closest enclosing loop.
    #### continues: Goes to the top of the closesr enclosing loop.
    #### Pass: Does nothing at all.

In [167]:
## for loop

x = [1,2,3]

for item in x:
    
    pass
print('end of my script')

end of my script

In [168]:
mystring = 'sammy'

for let in mystring:
    print(let)

s
a
m
m
y

In [169]:
## incase i dont want a
## continue

for let in mystring:
    if let == 'a':
        continue
    print(let)

s
m
m
y

In [170]:
## break

for let in mystring:
    if let == 'a':
        break
    print(let)

s

In [171]:
## it works mostly useful on while loop

x = 0

while x<5:
    
    if x ==2:
        break
    print(x)
    x+=1

0
1

#### Useful Operators in Python

In [172]:
mylist = [1,2,3]

In [173]:
## Range OPerators

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [174]:
## Range OPerators

for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [175]:
## Range OPerators

for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [176]:
## Range OPerators
## in list form

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [177]:
### index_count

index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [178]:
### index_count---> in tuple
## using enumerate


word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [179]:
## zip function---->to list


mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']

In [180]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [181]:
## zip function---->to list


mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]


for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [182]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [183]:
## in operator

'x' in [1,2,3]

False

In [184]:
'x' in ['x','y','z']

True

In [185]:
'a' in 'a world'

True

In [186]:
'mykey' in {'mykey':3456}

True

In [187]:
min(mylist1)

1

In [188]:
max(mylist3)

300

In [189]:
## random lib

from random import shuffle

In [190]:
mylist = [1,3,6,2,5,7,8,50,87]

In [191]:
shuffle(mylist)

In [192]:
mylist

[2, 87, 6, 50, 1, 7, 8, 3, 5]

In [193]:
## randint

from random import randint

In [194]:
randint(0, 100)

42

In [195]:
randint(0, 100)

59

In [196]:
mynum = randint(0,100)

In [197]:
mynum

98

In [198]:
## input function

input('Enter the number')

Enter the number56

'56'

In [199]:
result = input('Enter the name:')

Enter the name:srijan

In [201]:
result

'srijan'

In [208]:
## input function always gives string

ans = input('Ans is:')

Ans is:567

In [209]:
ans

'567'

In [210]:
type(ans)

str

In [211]:
# change

int(ans)

567

In [212]:
float(ans)

567.0

#### List Comprehensions

In [213]:
## unique way of quickly creating a list in python
## using a for loop along with .append() to create a list
### List comprehensions are a good alternative.

In [214]:
mystring = 'hello'

In [217]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [218]:
mylist

['h', 'e', 'l', 'l', 'o']

In [220]:
## in a single line

mylist = [letter for letter in mystring]

mylist

['h', 'e', 'l', 'l', 'o']

In [221]:
# direct

mylist = [x for x in 'word']

In [222]:
mylist

['w', 'o', 'r', 'd']

In [223]:
mylist = [num for num in range(0,11)]

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [225]:
## squared

my_list = [num**2 for num in range(0,10)]
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [227]:
### only even numbers

my__list = [x for x in range(0,11) if x%2==0]

my__list

[0, 2, 4, 6, 8, 10]

In [228]:
## square of even number

my__list = [x**2 for x in range(0,11) if x%2==0]

my__list

[0, 4, 16, 36, 64, 100]

In [230]:
### complex----> temp

celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [231]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [234]:
## using for loop

fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))

In [235]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

### Methods and Functions

In [236]:
### Methods------>build in object

mylist = [1,2,3]

In [237]:
## append method
mylist.append(4)

In [238]:
mylist

[1, 2, 3, 4]

In [239]:
## pop method---->pop out the last 
mylist.pop()

4

In [240]:
mylist

[1, 2, 3]

In [241]:
## help command
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [242]:
## Functions---> allows us to create blocks of code that can be easily executed my times.\

In [243]:
## def keyword
#### Syntax
## def name+of_function():
  
     ##code u want to write
## name_of_function()


      ### Or

    #### Syntax
## def name+of_function(argu):
  
     ##code u want to write
## name_of_function(argu)

In [244]:
### using return function

## def add_function(num1,num2):
     ## return num1 + num2
## result = add_function(1,2)
### print(result)

In [245]:
def say_hello():
    print("hello")

In [246]:
say_hello()

hello

In [251]:
def say_hello(name):
    print(f"hello {name}")

In [252]:
say_hello('srijan')

hello srijan

In [254]:
def say_hello(name='default'):
    print(f"hello {name}")

In [255]:
say_hello()

hello default

In [257]:
## return function

def add_num(num1,num2):
    return num1+num2

In [258]:
result=add_num(10,20)

In [259]:
result

30

In [267]:
## Function with logic

In [268]:
def even_check(number):
    result = number%2==0
    return result

In [269]:
def even_check(number):
    return number%2==0

In [270]:
even_check(7)

False

In [273]:
## Return true if any number is even inside a list

def check_even_list(num_list):
    
    for number in num_list:
        if number%2==0:
            return True
        else:
            pass

In [274]:
check_even_list([1,3,5,6,7])

True

In [277]:
check_even_list([1,3,5,7])#----> no even it reurns nthing

In [ ]:
def check_even_list(num_list):
    
    for number in num_list:
        if number%2==0:
            return True
        else:
            return False  ## WRONG(it will rturn false by checking just a first number)

In [278]:
def check_even_list(num_list):
    
    for number in num_list:
        if number%2==0:
            return True
        else:
            pass
    
    return False     ## RIGHT WAY

In [279]:
check_even_list([1,3,6,7])

True

In [280]:
check_even_list([1,3,7])

False

In [282]:
### return all the even numbers in the list

def check_even_list(num_list):
    
    # placeholder
    even_number = []
    
    for number in num_list:
        if number%2==0:
            ## i will append in even_number list
            even_number.append(number)
            
        else:
            pass
    
    return even_number

In [283]:
check_even_list([1,2,3,5,8,6,5,2,5])

[2, 8, 6, 2]

In [284]:
check_even_list([1,3,7])

[]

In [285]:
### Functions and Tuple Unpacking

In [286]:
stock_prices = [('Appl',200), ('Goog',400), ('Msft',100)]

In [287]:
for item in stock_prices:
    print(item)

('Appl', 200)
('Goog', 400)
('Msft', 100)

In [288]:
# Unpacking
for comp,price in stock_prices:
    print(comp)

Appl
Goog
Msft

In [292]:
# Unpacking--> unsing for loop
for comp,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [293]:
## Unpacking----->using fiunction

work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [295]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
            
        else:
            pass
    #return
    return(employee_of_month,current_max)

In [296]:
employee_check(work_hours)

('Cassie', 800)

In [297]:
result = employee_check(work_hours)

In [298]:
result

('Cassie', 800)

In [299]:
name,hours = employee_check(work_hours)

In [300]:
name

'Cassie'

In [301]:
hours

800

In [302]:
## interactions between Functions

example = [1,2,3,4,5,6,7]

In [303]:
from random import shuffle

In [304]:
shuffle(example)

In [305]:
example

[7, 2, 5, 4, 3, 6, 1]

In [306]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [307]:
result = shuffle_list(example)

In [309]:
result

[4, 2, 3, 7, 6, 1, 5]

In [310]:
mylist = ['','o','']

In [311]:
shuffle_list(mylist)

['o', '', '']

###  *args and **kwargs in python

In [312]:
## *arg----> gives tuples(any number of tuples can be passed)
## ** kwargs---> gives dictionary outputs.